
body{
    background-color: rgba(0, 0, 0, 0.717);
}

.lista-filmes{
    max-width: 800px;
    padding: 14px;
    margin: 14px auto;

}

.lista-filmes article{
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: solid 1px white;
    transition: transform 0.3s;
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 25px;

}


.lista-filmes article:hover{
    transform: translateY(-10px);
    
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}


.lista-filmes strong{
    margin-bottom: 14px;
   
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    display: block;
}


.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}


.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.5px white;
    border-radius: 10;
    padding: 10px 0;
    font-size: 24px;
    background-color: #206cf8;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

